{% block periodicityNav %}
<div id="periodicity-nav">
    <ul>
        <li id="nav-home"><a href="{{ path("home") }}" >Home</a></li>
        <li id="nav-elements"><a href="{{ path("element") }}">Elements</a></li>
        <li id="nav-molecules"><a href="{{ path("molecule") }}">Molecules</a></li>
    </ul>
</div>
{% endblock %}