@mixin pageHeading() {
  div.heading {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px/1.5 sans-serif;
    position: relative;
    left: -165px;
    top: 150px;

    h1 {
      text-align: center;
      font-size: 50px;
      color: #f9f9f9;
      text-shadow: 3px 3px 0px #2c2e38, 5px 5px 0px #5c5f72;
      letter-spacing: 10px;
    }
  }
}
